body {
  background-color: $body_bg;
  @include background-image(linear-gradient(bottom, rgba(255, 255, 255, .3) 0%, rgba(0, 0, 0, .05) 100%));
}

#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > .container-fluid {
    padding-right: 0;
    padding-left: 0;
    height: 100%;

    > .row-fluid {
      height: 100%;
    }
  }

  #sidebar {
    background-color: $sidebar_bg;
    height: 100%;
    @include box-shadow(0 0 1px rgba(96, 96, 96, .65));

    > .wrapper {
      padding-left: 20px;
      padding-right: 30px;
    }
  }

  #content {
    height: 100%;

    > .wrapper {
      padding-right: 20px;
    }
  }
}